<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Works</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
<!--          <li class="nav-item">-->
<!--            <a class="nav-link disabled" aria-disabled="true">Disabled</a>-->
<!--          </li>-->
        </ul>
      </div>
    </div>
  </nav>
</header>
<main class="main-section">
  <h1 class="tagline">A simple blog made with rails and bootstrap</h1>
  <a href="/portfolio" class="view-work-btn">View my Work</a>
</main>
<footer>
  <div class="social-links">
    <a href="https://github.com/nicole-brito" target="_blank">
      <img src="https://logos-world.net/wp-content/uploads/2020/11/GitHub-Symbol.png" alt="github logo" height="25px" >Github
    </a>
    <a href="https://linkedin.com/in/nicolebrito/" target="_blank">
      <img src="https://th.bing.com/th/id/OIP.lDkxJQaesXuk6vi1UTO32AHaHa?rs=1&pid=ImgDetMain" alt="github logo" height="25px" >Linkedin
    </a>


  </div>
  <p>&copy; 2021 Blog Code Academy</p>
</footer>